# compression algorithm to employ (lzo, lz4, zstd, lzo-rle)
# default: lz4
_zram_algorithm="lz4"

# portion of system ram to use as zram swap, can be an expression. For example:
# "1/2", "2/3", "0.5", etc.
# default: "1/2"
_zram_fraction="1/2"

# setting _zram_swap_debugging to any non-zero value enables debugging
# default: undefined
#_zram_swap_debugging="beep boop"

# expected compression factor; set this by hand if your compression results are
# drastically different from the estimates below
#
# Note: These are the defaults coded into /usr/local/sbin/zram-swap.sh; don't
#       alter these values, use the override variable '_comp_factor' below.
#
# defaults if otherwise unset:
#	lzo*|zstd)  _comp_factor="3"   ;; # expect 3:1 compression from lzo*, zstd
#	lz4)        _comp_factor="2.5" ;; # expect 2.5:1 compression from lz4
#	*)          _comp_factor="2"   ;; # default to 2:1 for everything else
#
#_comp_factor="2.5"

# if set skip device size calculation and create a fixed-size swap device
# (size, in MiB/GiB, eg: "250M" "500M" "1.5G" "2G" "6G" etc.)
#
# Note: this is the swap device size before compression, real memory use will
#       depend on compression results, a 2-3x reduction is typical
#
#_zram_fixedsize="2G"

# A backing device can be used as a lower level swap. The zram can decide to
# swap out pages to the backing device when the system is running low on memory,
# or when a page size cannot be reduce by the chosen compress algorithm.

# Note: The backing device must be a block device, either a real disk or a file
#       loop is fine.
#
#_zram_backing_dev="/dev/disk/by-partuuid/a0b1c2d3-01"

# A limit can be set for the maximum ammount of memory zram can use.
# Set the limit to "auto" to limit the memory usage based on _zram_fraction.
#
#_zram_max_memory="1G"

# vim:ft=sh:ts=2:sts=2:sw=2:et:
